target/
tmp/
logs/
/.lein-repl-history
/.nrepl-port
/.lein-failures
resources/public/js/out/
resources/public/js/app.js
resources/public/css/app.css
/bower_components
/node_modules
/.lein-env
/figwheel_server.log
/.idea
/ipb_cpa.iml
