[{:text "Então disse Deus: \"Cubra-se a terra de vegetação: plantas que dêem sementes e árvores cujos frutos produzam sementes de acordo com as suas espécies\". E assim foi."
  :reference "Gn 1:11"}
 {:text "Vá, pois, agora; eu o envio ao faraó para tirar do Egito o meu povo, os israelitas."
  :reference "Ex 3:10"}
 {:text "Vocês têm que fazer separação entre o santo e o profano, entre o puro e o impuro"
  :reference "Lv 10:10"}
 {:text "Então o Senhor levantou juízes, que os libertaram das mãos daqueles que os atacavam."
  :reference "Jz 2:16"}
 {:text "E disseram-lhe: \"Tu já estás idoso, e teus filhos não andam em teus caminhos; escolhe agora um rei para que nos lidere, à semelhança das outras nações\"."
  :reference "1Sm 8:5"}
 {:text "Estou para seguir o caminho de toda a terra. Por isso, seja forte e seja homem. Obedeça ao que o Senhor, o seu Deus, exige: Ande nos seus caminhos e obedeça aos seus decretos, aos seus mandamentos, às suas ordenanças e aos seus testemunhos, conforme se acham escritos na Lei de Moisés; assim você prosperará em tudo o que fizer e por onde quer que for"
  :reference "1Rs 2:2-3"}
 {:text "Dá-me sabedoria e conhecimento, para que eu possa liderar esta nação, pois, quem pode governar este teu grande povo?"
  :reference "2Cr 1:10"}
 {:text "Pois Esdras tinha decidido dedicar-se a estudar a Lei do Senhor e a praticá-la, e a ensinar os seus decretos e mandamentos aos israelitas."
  :reference "Ed 7:10"}
 {:text "por isso enviei-lhes mensageiros com esta resposta: \"Estou executando um grande projeto e não posso descer. Por que parar a obra para ir encontrar-me com vocês?\""
  :reference "Ne 6:3"}
 {:text "Disse então o Senhor a Satanás: \"Reparou em meu servo Jó? Não há ninguém na terra como ele, irrepreensível, íntegro, homem que teme a Deus e evita o mal\"."
  :reference "Jó 1:8"}
 {:text "Aleluia! Darei graças ao Senhor de todo o coração na reunião da congregação dos justos."
  :reference "Sl 111:1"}
 {:text "O temor do Senhor é o princípio do conhecimento, mas os insensatos desprezam a sabedoria e a disciplina."
  :reference "Pv 1:7"}
 {:text "\"Que grande inutilidade!\", diz o Mestre. \"Que grande inutilidade! Nada faz sentido!\""
  :reference "Ec 1:2"}
 {:text "Ele me levou ao salão de banquetes, e o seu estandarte sobre mim é o amor."
  :reference "Ct 2:4"}
 {:text "Mas ele foi transpassado por causa das nossas transgressões, foi esmagado por causa de nossas iniqüidades; o castigo que nos trouxe paz estava sobre ele, e pelas suas feridas fomos curados."
  :reference "Is 53:5"}
 {:text "Ah, se a minha cabeça fosse uma fonte de água e os meus olhos um manancial de lágrimas! Eu choraria noite e dia pelos mortos do meu povo."
  :reference "Jr 9:1"}]

