.card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  transition: box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
  }

  .image-wrapper {
    background: #0d5a0b;
    text-align: center;
    padding: 15px;
    min-height: 250px;

    .image {
      font-size: 9rem;
      color: #fff;
    }
  }

  .title-wrapper {
    padding: 15px;
  }
}
